[*.cs]

# CA2211: 非常量字段应当不可见
dotnet_diagnostic.CA2211.severity = none

# CA1051: 不要声明可见实例字段
dotnet_diagnostic.CA1051.severity = none

# CA2007: 考虑对等待的任务调用 ConfigureAwait
dotnet_diagnostic.CA2007.severity = none

# CA1305: 指定 IFormatProvider
dotnet_diagnostic.CA1305.severity = none

# IDE0051: 删除未使用的私有成员
dotnet_diagnostic.IDE0051.severity = none

# CA1710: 标识符应具有正确的后缀
dotnet_diagnostic.CA1710.severity = none

# CA1034: 嵌套类型应不可见
dotnet_diagnostic.CA1034.severity = none
